@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --White:#FFFFFF;
    --Black:#000000;
    --Navi:#0F1D3C;
    --Gray:#D9D9D9;
    --dark-gray:#7B7B7B;
    --orange:#FF8901;
    --green:#5BB903;
    --xs-font:22px;
    --small-font:24px;
    --medium-font:32px;
    --large-font:36px;
    --x-large-font:40px;
    --xx-large-font:48px;
    --xxx-large-font:55px;
    --xxxx-large-font:96px;
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family:"Poppins";

}

a,button,select{
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.default-btn{
    color:var(--White);
    background-color: var(--Navi);
    padding: 19px 84px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0%;
}

._flex{
    display: flex;
    align-items: center;
}

/*================= Header Section starts here     */
/* .container{
    margin: 46px  6.25rem 0  6.25rem;
} */
/* Header styling starts here */

header{
    background-image: url('./Images/hero.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1094px;
    color: white;
}

.menu{
    flex-grow: 1;
    justify-content: flex-end;
    gap: 47px;
}

.header-content{
    color: var(--White);
    padding-top: 40px;
    justify-content: space-between;
}


 .logo{
    position: relative;
}

.logo img{
    width:100px ;
    position: absolute;
    top: -10px;
}

.logo h1{
    position: absolute;
    top: 0;
    font-size: 2.37rem;
}

 .Ashoka_wheel{
     width: 195px;         
    height: 195px;
}

.hero-content{
    padding-top: 213px;
}
.hero-content img{
    width: 200px;
}
.hero-content h1{
    font-size: 60px;
    padding-right: 40px;
}


.visionary-block{
    padding-top:81px;
    padding-bottom: 81px;
}

.social-icons{
    padding-top: 48px;
    gap: 21px;
}





.parliment-block{
    color: var(--White);
    background-image: url('./Images/bg-img.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    ;
}

.parliment-content{
    background-color: #0f1d3c8f;
}
.upper-content{
     padding: 81px  2.8rem 0 2.8rem;
    justify-content: space-between;
}
.upper-content .Ashoka_wheel{
    max-width: 225px;
}
.upper-content h5{
font-family: 'Manrope';
font-style: normal;
font-weight: 300;
font-size: 45px;
line-height: 61px;
}

.bottom-content{
    padding: 0 2.8rem;
}

.inner-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 107px;
}

.inner-box .img-1, .img-2, .img-3, .img-4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 438px;
}

.inner-box div img{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inner-box .img-1 {
    background-image: url('./Images/p-2.png');
}
.inner-box .img-2 {
    background-image: url('./Images/p-1.png');
}
.inner-box .img-3 {
    background-image: url('./Images/p-2.png');
}

.inner-box .img-4 {
    background-image: url('./Images/p-2.png');
}

.content-box{
    min-width: 205px;
    min-height: 243px;
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Black);
}

.content-box p {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 21.47px;
    line-height: 136%;
}

.content-box div{
    background-color: var(--Gray);
    padding: 20px;
    border-radius: 50%;
}

.horizontal-line{
    padding-top: 25px;
    padding-bottom:17px
}

.flag-line{}
.flag-line :nth-child(1){
    background: var(--orange);
}
.flag-line :nth-child(2){
    background: var(--Gray);
}
.flag-line :nth-child(3){
    background: var(--green);
}
.flag-line div{
    height: 14px;
}

.j-years .logo{
    position: relative;
}

.j-years .logo img{
    position: absolute;
}
.j-years .logo p{
    font-size: 35px;
}
.j-years  ul {
    text-align: center;
}
.j-years .j-years-content div{
    margin-bottom: 60px;
    color: var(--dark-gray);
}
.Journey-block{
    padding-top: 90px;
    background: var(--Gray);
}
.Journey-content{
    padding: 0 100px;
}

.j-content h4{
    margin-top:200px ;
}
.j-content h1{
    margin-top: 20px;
    font-size: 76px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 150%;
    color: #7B7B7B;
}
.j-content p{
     font-family: 'Poppins';
     font-weight: 400;
     line-height: 150%;
     font-family: 18px;
}

.Journey-gallery{
    padding-top: 109px;
}

.lok-sabha-block{
    margin-top: 90px;
    padding-bottom: 109px;
}

.lok-sabha-content h4{
    padding-bottom: 50px;
    line-height: 136%;
}

.left-content p {
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;

color: #0F1D3C;
}

.right-content img{
    width: 255px;
}
.right-content p{
    margin-bottom: 0;
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 34px;

color: #0F1D3C;
}

.right-content, .left-content span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #7B7B7B;

}

.slider-block{
        background-image: url('./Images/bg-img-2.png');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: top;
}

.slider-block .Ashoka_wheel{
    width: 195px;
}

.inner-content{
     background-color: #0f1d3ce8;
     padding-bottom: 109px;
}
.slider-header {
    padding-top: 65px;
    padding-bottom: 59px;
}
.heading{
    position: relative;
}
.heading .flag{
    position: absolute;
    top: -30px;
}
.slide{
    background-color: var(--White);
}
.slide h5{
    color: #FF6635;
}
.slide h5:last-child{
    color: #000000;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15.2656px;
line-height: 23px;

color: #000000;
}








/* US took decade to hunt Osama bin Laden, India took 15 days to teach Pakistan lesson: MP Satnam Sandhu */



















